<a href="https://colab.research.google.com/github/mehulnawal/Python_List/blob/main/List_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List Creation

In [ ]:
mylist = [1,2,3,4,5,'mehul','nawal']
mylist

[1, 2, 3, 4, 5, 'mehul', 'nawal']

#Add, Remove And Change items in list

In [ ]:
mylist

[1, 2, 3, 4, 5, 'mehul', 'nawal']

#append

In [ ]:
mylist.append('nawal')
mylist

[1, 2, 3, 4, 5, 'mehul', 'nawal', 'sonu', 'sonu', 'sonu', 'nawal']

In [ ]:
# insert 
mylist.insert(5,6)
mylist

[1, 2, 3, 4, 5, 6, 'mehul', 'nawal', 'sonu', 'sonu', 'sonu', 'nawal']

In [ ]:
# remove
mylist.remove('sonu')
mylist

[1, 2, 3, 4, 5, 6, 'mehul', 'nawal', 'sonu', 'sonu', 'nawal']

In [ ]:
mylist.append('sonu')
# pop
mylist.pop()
# pop with indexing
mylist.pop(0)
mylist

[2, 4, 5, 6, 'mehul', 'nawal', 'sonu']

In [ ]:
# del with indexing
del mylist[2]
mylist

[2, 4, 6, 'mehul', 'nawal', 'sonu']

In [ ]:
# change the value in list
mylist[0] = 45
mylist

[45, 4, 6, 'mehul', 'nawal', 'sonu']

In [ ]:
# clear - to delete whole list
mylist.clear()
mylist

[]

In [ ]:
mylist = [1.2,2,3,5,6,7,53,3,4,53,23,56]
# id = to show the address of list 
print(id(mylist))

140399597017344

#Join in list

In [ ]:
mylist

[1.2, 2, 3, 5, 6, 7, 53, 3, 4, 53, 23, 56]

In [ ]:
mylist2 = ['m','e','w','r']
mylist2
# to join mylist and mylist2
mylist3 = [mylist , mylist2]
print(mylist3)

[[1.2, 2, 3, 5, 6, 7, 53, 3, 4, 53, 23, 56], ['m', 'e', 'w', 'r']]

#Life Membership

In [ ]:
print(mylist,"\n",mylist2)

[1.2, 2, 3, 5, 6, 7, 53, 3, 4, 53, 23, 56]
 ['m', 'e', 'w', 'r']

In [ ]:
'53' in mylist

False

#Reverse and Sort lsit

In [ ]:
# To reverse a list
print(mylist.reverse())
# another way to reverse a list in 
print(mylist[::-1])

None
[56, 23, 53, 4, 3, 53, 7, 6, 5, 3, 2, 1.2]

In [ ]:
mylist = [1,2,3,4,5,7,6,5,32,42,5,63,2,454,6,43]
mylist
# to sort the list in ascending order
mylist.sort()
print(mylist)

#to sort the list in descending order
mylist.sort(reverse = True)
print(mylist)

[1, 2, 2, 3, 4, 5, 5, 5, 6, 6, 7, 32, 42, 43, 63, 454]
[454, 63, 43, 42, 32, 7, 6, 6, 5, 5, 5, 4, 3, 2, 2, 1]

#Loop through in list

In [ ]:
for i in mylist:
    print(i)

1.2
2
3
3
4
5
6
7
23
53
53
56

In [ ]:
for i in enumerate(mylist):
          print(i)

(0, 1.2)
(1, 2)
(2, 3)
(3, 3)
(4, 4)
(5, 5)
(6, 6)
(7, 7)
(8, 23)
(9, 53)
(10, 53)
(11, 56)

#Count

In [ ]:
print(mylist.count(23))

1

#Length of a list

In [ ]:
print(len(mylist))

12

#All/ Any

In [ ]:
l1 = [1,2,3,4,5,0]
all(l1) # will writen false as one value is false means 0
l2 = [1,2,3]
all(l2) # will writen true as we no value is false means 0

True

#List Comprehensions

In [ ]:
a = ['mynameismehul']
print(list('mynameismehul'))
print(list(a))

['m', 'y', 'n', 'a', 'm', 'e', 'i', 's', 'm', 'e', 'h', 'u', 'l']
['mynameismehul']

In [ ]:
mystring  = "welcome"
print(list(mystring))

['w', 'e', 'l', 'c', 'o', 'm', 'e']

#Expression For item in list

In [ ]:
# muliply the whole list by 2
b = (1,2,3,4)
print(b*2)

(1, 2, 3, 4, 1, 2, 3, 4)